---
import '@baseCss';

const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;

const secondsPerWeek = 604800;
Astro.response.headers.set('Cache-Control', `max-age=${secondsPerWeek}`);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />

        <title>TODO</title>
        <meta name="description" content="TODO (Polypane recommends keeping this above 50 characters)" />

        <link rel="canonical" href={canonicalURL} />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <!-- This script is necessary to prevent a flash of the inaccurate theme being applied. It must be included inline within the <head> element to function properly.
             The logic and constant values here must be kept in sync with those of `source/logic/theme.ts`. -->
        <script is:inline>
            (() => {
                const theme = globalThis.localStorage.getItem('theme');
                if (
                    'DARK' === theme ||
                    ('SYSTEM' === theme &&
                        globalThis.matchMedia('(prefers-color-scheme: dark)')
                            .matches)
                ) {
                    document.documentElement.classList.add('dark');
                }
            })();
        </script>
        <script>
            import { watchForThemeChanges } from '@logic/store';
            watchForThemeChanges();
        </script>
        <script src="/htmx.min.js" is:inline></script>
    </head>
    <body class="bg-stone-100 text-stone-900 dark:bg-slate-800 dark:text-slate-200">
        <slot />
    </body>
</html>
