---
import BaseLayout from '@layouts/base-layout.astro';
---

<BaseLayout>
    <div class="h-[70vh] flex flex-col justify-center">
        <div class="flex flex-col justify-center items-center">
            <h1>Page not found.</h1>
            <h2>
                <a href="/">Go Home</a>
            </h2>
        </div>
    </div>
</BaseLayout>
