---
import BaseLayout from '@layouts/base-layout.astro';
---
<BaseLayout>
    <div class="h-[70vh] flex flex-col justify-center">
        <div class="flex flex-col justify-center items-center">
            <h1>Page not found.</h1>
            <h2
                class="mt-4 text-3xl font-bold text-stone-700 transition-colors hover:text-stone-950 dark:text-slate-200 dark:hover:text-slate-50">
                <a href="/">Go Home</a>
            </h2>
        </div>
    </div>
</BaseLayout>
