---
import BaseLayout from '@layouts/base.astro';
---

<style>
    @reference '@globalCss';

    a {
        @apply underline;
    }

    section {
        @apply border-2;
        @apply border-black/10;
        @apply rounded-lg;
        @apply bg-white/5;
        @apply p-4;

        & > h2 {
            @apply bg-black/10;
            @apply -mt-4;
            @apply -mx-4;
            @apply py-2;
            @apply px-4;
            @apply rounded-t-md;
        }
    }
</style>

<BaseLayout>
    <div class="p-8 max-w-7xl mx-auto">
        <h1>
            Astro Deno Template
            <span class="opacity-30 mx-4">|</span>
            <a
                href="https://docs.astro.build/en/getting-started/"
                target="_blank"
                class="opacity-50 hover:opacity-100 transition-opacity !no-underline"
            >
                Docs
            </a>
        </h1>

        <div class="flex flex-wrap gap-16">
            <section>
                <h2>Notes</h2>
                <ol class="list-disc list-inside">
                    <li>
                        With <a href="https://docs.astro.build/en/guides/prefetch/">prefetching</a>, the <span class="text-code"
                        >Cache-Control</span>
                        response header should be set for all pages and partials (see <span class="text-code">base.astro</span> for an
                        implementation, and <a href="https://docs.astro.build/en/guides/prefetch/#browser-support">Astro's documentation</a>
                        for the reasoning).
                    </li>
                </ol>
            </section>

            <section>
                <h2>Static Files</h2>
                <p>
                    Files placed in the <span class="text-code">public/</span> directory will be included for hosting:
                    <ul class="list-disc list-inside">
                        <li>
                            <a href="example-text-file.txt" target="_blank">Example file</a>
                        </li>
                        <li>
                            <img src="example-image.png" alt="apple" class="inline h-4" />
                        </li>
                    </ul>
                </p>
            </section>

            <section>
                <h2>Partials</h2>
                <a href="/partials-example">Example</a>
            </section>

            <section>
                <h2>Tailwind Headless UI</h2>
                <a href="/tailwind-headless-ui">Demo</a>
            </section>

            <section>
                <h2>Load Data</h2>
                <ul>
                    <li>
                        <a href="/load-data/32">Example: by URL</a>
                    </li>
                </ul>
            </section>

            <section>
                <h2>Server-Side Rendering</h2>
                <a href="/ssr">Example</a>
            </section>

            <section>
                <h2>Infinite Scrolling</h2>
                <a href="/infinite-scrolling">Example</a>
            </section>

            <section>
                <h2>JSR Integration</h2>
                <a href="/jsr">Example</a>
            </section>
        </div>
    </div>
</BaseLayout>
