---
import Box from '@components/infinite-scrolling/box.astro';

import BaseLayout from '@layouts/base.astro';
---

<BaseLayout>
    <div class="h-screen flex flex-col bg-white/20">
        <div class="py-4">
            <h2 class="text-center mb-0">Infinite Scrolling Example</h2>
        </div>

        <div class="grow overflow-y-auto border-8 border-slate-400 dark:border-slate-300">
            <Box n={0} />
        </div>

        <a
            href="/"
            class="text-center text-5xl font-bold pt-8 pb-24 hover:text-slate-600 dark:hover:text-slate-300 transition-colors"
        >home</a>
    </div>
</BaseLayout>
