---
interface Props {
    n: number;
}

const { n } = Astro.props;

const limit = 10;
const nextBoxUrl = n < limit ? `/partials/infinite-scrolling/${n + 1}` : null;
---

<div
    class="h-1/2 flex justify-center items-center bg-gray-300 dark:bg-slate-800 dark:text-slate-200 border-y-4 border-slate-400 text-4xl font-bold dark:border-slate-300"
    hx-trigger={nextBoxUrl ? 'intersect once' : undefined}
    hx-get={nextBoxUrl ?? undefined}
    hx-swap={nextBoxUrl ? 'afterend' : undefined}
>
    {n}
</div>
